@{
    ViewBag.Title = "About Us";
}

<div class="container">

    <p>
        Welcome to our website! We are here to make your vacation planning seamless by helping you find the perfect place to stay in any country across the globe. Whether you're seeking an exotic getaway or a cozy retreat, we've got you covered.

        At our core, we prioritize your peace of mind. Our commitment to security ensures that your personal information and transactions are safeguarded. Plus, our dedicated team is always just a message away, ready to assist you with any questions or concerns.<a href="mailto:info@example.com">info@airbnb.com</a>

        Join us today and embark on a worry-free journey to your dream vacation. Your comfort and satisfaction are our top priorities, and we can't wait to be a part of your travel story.
    </p>
    <img src="~/images/teamairMet.jpg" alt="About Us Image" class="img-fluid" />
</div>
