@{
    ViewData["Title"] = "Home Page";
}
@model PropertyListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var property in Model.Properties)
    {
        <partial name="_PropertyCard" model="property" />
    }
</div> 