/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* Your existing styles */
.nav-link i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the sidebar */
#mySidenav {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

#mySidenav a {
        padding: 15px 25px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        #mySidenav a:hover {
            color: #f1f1f1;
        }

    #mySidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Styles for the main content (adjust as needed) */
.main-content {
    transition: margin-left 0.5s;
    padding: 16px;
}

/* Adjust the main content margin when the sidebar is open */
#mySidenav.open {
    margin-left: 250px;
}
