@using Microsoft.AspNetCore.Identity

@inject PropertyDbContext _db
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Customer Customer
@{
    var userId = UserManager.GetUserId(User);
    Customer = _db.Customers.FirstOrDefault(c => c.CustomerId == userId);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hello @Customer.Name</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Reservation" asp-action="Reservation"> <i class="fas fa-bookmark"></i> Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Customer" asp-action="List"> <i class="fas fa-list"></i> Lists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Property" asp-action="Create">Add new home</a>
                        </li>
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Property" asp-action="Create">Register as Publisher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
