@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav" >
                <li class="nav-item dropdown" id="listnav">
                    <button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hello @UserManager.GetUserName(User)</button>3
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <i class="fa-solid fa-user"></i>   Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Property" asp-action="Create"> <i class="fa-solid fa-plus"></i>  Add new home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Reservation" asp-action="Reservation"> <i class="fas fa-bookmark"></i>  Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="List"> <i class="fas fa-list"></i> Lists</a>
                        </li>
                        
                        
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"> <i class="fa-solid fa-arrow-right-from-bracket"></i>  Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Property" asp-action="Create">Register as Publisher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
