html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Example CSS styles */
.property-details-container {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.property-address {
    font-size: 24px;
    color: #333;
}

.property-info {
    margin-top: 20px;
}

.property-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.property-description {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.property-price {
    font-size: 30px;
    color: #333;
}

.back-to-home-link {
    color: #007bff;
    text-decoration: none;
}

.back-to-home-link:hover {
    text-decoration: underline;
}
#listnav {
    margin-right: 2rem;
    background-color: #557bb3;
}

.custom-card {
    height: 100%; /* Adjust the height as needed */
    overflow: hidden;
    width: 100%;
}

.custom-card-img {
    object-fit: cover;
    height: 100%; /* Ensures the image fills the entire height of the card */
    width: 100%; /* Ensures the image fills the entire width of the card */
}

.img-div {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    cursor: pointer;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    margin: 10px;
    position: relative;
}

.btn-danger {
    margin-left : 85px;
}

#card-title{
    text-decoration : none;
    color: black;
}
#card-text{
   text-decoration : none;
}
a {
    text-decoration : none;
    color: black;
}

#Reserve{
    margin-left: 5px;
}

.property-details-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
}

.property-title, .property-address, .property-price {
    margin-bottom: 15px;
}

.property-info-item {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.property-description {
    padding: 15px;
    border-top: 1px solid #ddd;
}

.back-to-home-link {
    display: block;
    margin-top: 15px;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Verdana'/* Change this to your desired font */
    
}
.active-thumbnail {
    border: 2px solid blue;
}
#propertyCarousel {
    max-width: 600px; /* Set the maximum width */
    margin: auto; /* Center the carousel */
}

#propertyCarousel .carousel-inner img {
    max-height: 400px; /* Set the maximum height */
    width: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image */
}
